#navegacion .fa-bars {
    display: none;
}

@media screen and (max-width:891px) {
   #navegacion ul li:not(:first-child) {display: none;}
    #navegacion .fa-bars {
        display: block;
    }
}

@media screen and (max-width:891px) {
    .responsive {
        position: absolute;
        right: 32px;
    }
    .responsive ul {
        max-width : 160px;
        background-color: darkslategray;
    }
    
    #navegacion.responsive ul li {
        display: block;
    }
    
    #navegacion.responsive .fa {
        color: white;
    }
    
    #navegacion.responsive .text-color-black {
        color: white;
    }
}

@media screen and (max-width:891px) and (orientation: landscape) {
    #navegacion ul {
        display: table-row;
        float: right;
    }
    
    #navegacionul li {
        
    }
}